*{
    margin: 0px;
    padding: 0px;
  }
  #parent{
    padding: 0px;
    margin: 0px;
    background-color: white;
  }
  #bar{
    height: 9vh;
    width: 100vw;
    display: flex;
    background: linear-gradient(to right, #48a0f7, #f0f0f0);
  }
  .logo{
    margin-left: 3vw;
    height: 7vh;
    margin-top: 1vh;
      
  }
  .btn{
    margin-top: 2vh;
    height: 5vh;
    width: 9vw;
    font-weight: bold;
    font-size: 2.2vh;
    color:  black;
   background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 1vh;
  
      
  }
  .btn1{
    
      margin-top: 2vh;
      height: 5vh;
      width: 7vw;
      margin-left: 5vw;
      font-weight: bold;
      font-size: 2.2vh;
      color: black;
      background: transparent;
      border: none;
      background:transparent;
      cursor: pointer;
      border-radius: 1vh;
  
  }
  .btn2{
    margin: 2vh;
    margin-left: 5vh;
    height: 5vh;
    width: 8vw;
    font-weight: bold;
    font-size: 2.2vh;
    background: transparent;
    border-color: white;
    background: linear-gradient(to right, #f0f0f0, #48a0f7);
    cursor: pointer;
    color: black;
    box-shadow: 1vh;
  }
  .btn:hover{
    background-color: #699aca  ;
  }
  .btn1:hover{
    background-color: #699aca  ;
  }
  .btn2:hover{
    background-color:  #07529d ;
  
  }
  .home-link {
    text-decoration: none; /* Removes underline */
    color: inherit;
    font-weight: normal; /* Ensures the color matches the parent */
  }
  
  .home-link:hover {
    color: #017c6e; /* Optional: Adds hover effect */
  }*{
    margin: 0px;
    padding: 0px;
  }
  #parent{
    padding: 0px;
    margin: 0px;
    background-color: white;
  }
  #bar{
    height: 9vh;
    width: 100vw;
    display: flex;
    background: linear-gradient(to right, #48a0f7, #f0f0f0);
  }
  .logo{
    margin-left: 3vw;
    height: 7vh;
    margin-top: 1vh;
      
  }
  .btn{
    margin-top: 2vh;
    height: 5vh;
    width: 9vw;
    font-weight: bold;
    font-size: 2.2vh;
    color:  black;
   background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 1vh;
  
      
  }
  .btn1{
    
      margin-top: 2vh;
      height: 5vh;
      width: 7vw;
      margin-left: 5vw;
      font-weight: bold;
      font-size: 2.2vh;
      color: black;
      background: transparent;
      border: none;
      background:transparent;
      cursor: pointer;
      border-radius: 1vh;
  
  }
  .btn2{
    margin: 2vh;
    margin-left: 5vh;
    height: 5vh;
    width: 8vw;
    font-weight: bold;
    font-size: 2.2vh;
    background: transparent;
    border-color: white;
    background: linear-gradient(to right, #f0f0f0, #48a0f7);
    cursor: pointer;
    color: black;
    box-shadow: 1vh;
  }
  .btn:hover{
    background-color: #699aca  ;
  }
  .btn1:hover{
    background-color: #699aca  ;
  }
  .btn2:hover{
    background-color:  #07529d ;
  
  }
  .home-link {
    text-decoration: none; /* Removes underline */
    color: inherit;
    font-weight: normal; /* Ensures the color matches the parent */
  }
  
  .home-link:hover {
    color: #017c6e; /* Optional: Adds hover effect */
  }
/* for text called foundation*/
.txt{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.txt1{
    font-size: 5vh;
    margin: 2vh;
    margin-left: 75vh;
    width: 30vw;
    color: white;
    background-color:#017c6e;
    border-radius: 1vh;
}
.container1{
    width: 75vw;
    height: 62vh;
    background:transparent ;
    margin: 2vh;
    margin-left: 30vh;
    display: flex;
}
.div1{
    width: 20vw;
    height: 55vh;
    margin: 4vh;
   border-radius: 2vh;
    background-color: antiquewhite;
}
.img1{
    width:18vw ;
    height: 35vh;
    margin: 2vh;
}
.img2{
    width:16vw ;
    height: 25vh;
    margin: 2vh;
    margin-left: 4vh;
}
.btnu{
    width: 7vw ;
    height: 5vh ;
    margin-left: 10vh;
    background-color: blueviolet;
    border-radius: 1vh;
    font-size: 2vh ;
    font-weight: bold;
}
/* for slider of foundation div*/
.rm{
    width: 10vw;
    height: 7vh;
    font-size: 2vh;
    font-weight: bold;
    background-color: aqua;
    border: 2px;
    margin-left: 12vh;
    text-align: center;
}
/* for second container of university foundation*/
.container2{
    width: 47vw;
    height: 100vh;
    background-color:rgb(198, 197, 195);
    border-radius: 3vh;
    margin: 2vh;
    margin-left: 3vh;
    display: flex;
}
.div2{
    width: 20vw;
    height: 45vh;
    margin: 4vh;
    border-radius: 2vh;
    background-color: antiquewhite;
}
.txtu{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
.txtu1{
    font-size: 5vh;
    margin: 2vh;
    margin-left: 15vh;
    width: 30vw;
    background-color:#7CFC00;
    border-radius: 1vh;
}
.txtl{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.txtl1{
    font-size: 5vh;
    margin: 2vh;
    margin-left: 20vh;
    width: 30vw;
    background-color: #7CFC00;
    border-radius: 1vh;
}
.container{
    display: flex;
}
.container3{
    width: 47vw;
    height: 100vh;
    display: flex;
    margin-top: 2vh;
    background-color:rgb(198, 197, 195);
    border-radius: 3vh;
}
.div3{
    width: 20vw;
    height: 45vh;
    margin: 4vh;
    background-color: rgb(247, 241, 234);
}

 /* for the footerr*/
 .footer{
    height: 30vh;
    width: 100vw;
    background: linear-gradient(to right, #48a0f7, #f0f0f0);
    display: flex;
  }
  .logo2{
    margin-left: 3vw;
    height: 9vh;
    margin-top: 1vh;   
}
.small_text{
  font-size: 2vh;
  color: black;
  
}
 .first-div{
  margin-top: 2vh;
  margin-left: 5vh;
 }
 .second_div{
  margin-left: 19vh;
  margin-top: 2vh;
 }
 .third_div{
  margin-left: 19vh;
  margin-top: 2vh;
 }
 .fourth_div{
  margin-left: 22vh;
  margin-top: 2vh;
 }
.conimg{
  display:flex;
}
.imgf{
  width: 4vh;
  height: 3vh;
  margin: 1vh;
  border-radius: 1vh;
}
