*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif ;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-image: url("5.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: none ;
}
#bar{
    height: 9vh;
    width: 100vw;
    display: flex;
    background-color: antiquewhite;
    margin: 1vh;
    padding: 0vh;
    margin-bottom: 40vh;
}
.logo{
    margin-left: 5vw;
    height: 7vh;
    margin-top: 1vh;
    
}
.btn{
    margin-top: 2vh;
    height: 5vh;
    width: 10vw;
    margin: 2vh;
    font-weight: bold;
    font-size: 2.2vh;
   background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 1vh;

    
}
.btngb{
    margin-top: 2vh;
    height: 5vh;
    width: 10vw;
    margin: 2vh;
    font-weight: bold;
    font-size: 2.2vh;
   background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 1vh;
	background-color: white;

    
}
.b
.btn1{
    margin-top: 2vh;
    height: 5vh;
    width: 7vw;
    margin-left: 16vw;
    font-weight: bold;
    font-size: 2.2vh;
    background: transparent;
    border: none;
    background:transparent;
    cursor: pointer;
    border-radius: 1vh;
}
.btn2{
  margin-top: 2vh;
  height: 5vh;
  width: 7vw;
  font-weight: bold;
  font-size: 2.2vh;
  background: transparent;
  border: none;
  margin: 2vh;
  background-color: #7CFC00;
  cursor: pointer;
  border-radius: 1vh;
}
.btn:hover{
  background-color: rgba(50, 205, 50, 0.6) ;
}
.btn1:hover{
  background-color: rgba(50, 205, 50, 0.6) ;
}
.btn2:hover{
  background-color: rgba(50, 205, 50, 0.6) ;
}

.wrapper {
	width: 400px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(8px);
	color: white;
	border-radius: 20px;
	padding: 50px;
    margin-left: vw;

}

.wrapper h1{
	font-size: 40;
	text-align: center;

}

.wrapper .input-box{
	width: 100%;
	margin: 35px 0;
}

.input-box input{
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 3px solid rgba(255, 255, 255, 0.3);
	border-radius: 45px;
	padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
	color: white;
	font-weight: bold;

}

.wrapper .remember-forgot{
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	margin: -15px 0 15px;
}

.remember-forgot label input{
	accent-color: white;
	margin-right: 4px;
}

.remember-forgot a{
	text-decoration: none;
}

.remember-forgot a:hover{
	text-decoration: blink;
}

.wrapper .logbtn{
	width: 100%;
	height: 40px;
	background: white;
	border: none;
	outline: none;
	border-radius: 45px;
	box-shadow: 0 0 15px rgba(0, 0, 0, .2);
	cursor: pointer;
	font-size: 20px;
	color: 330;
	font-weight: 700;
}


.wrapper .register-link{
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
}

.register-link p a{
	color: white;
	text-decoration: none;
	font-weight: 700;
}

.register-link p a::hover{
	text-decoration: blink; 
}

.header{
      margin:2vh;
	  font-size: 4vh;
	  font-weight: bold;
	  color: black;
	  text-align: center;
	  background-color: white;
	  border-radius: 2vh;
}
.message{
	font-size: 3vh;
	font-weight: bold;
	color: white;
	background-color: black;
	border-radius:1vh;
    
}