*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-image: url("2n.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: none ;
}


.wrapper {
	width: 500px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(8px);
	color: white;
	border-radius: 20px;
	padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10vw;
}

.wrapper h1{
	font-size: 40;
	text-align: center;

}

.wrapper .input-box{
	width: 100%;
	margin: 35px 0;
}

.input-box input{
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 3px solid rgba(255, 255, 255, 0.3);
	border-radius: 45px;
	padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
	color: white;
	font-weight: bold;

}



.wrapper .regbtn{
	width: 100%;
	height: 40px;
	background: white;
	border: none;
	outline: none;
	border-radius: 45px;
	box-shadow: 0 0 15px rgba(0, 0, 0, .2);
	cursor: pointer;
	font-size: 20px;
	color: 330;
	font-weight: 700;
	text-decoration: none;
}

.wrapper .already-member{
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
}

.already-member p a{
	color: white;
	text-decoration: none;
	font-weight: 700;
}

.already-member p a::hover{
	text-decoration: blink; 
}
#parent{
    padding: 0px;
    margin: 0px;
    background-color: rgb(212, 207, 207);
}
#bar{
    height: 9vh;
    width: 100vw;
    display: flex;
    background-color: antiquewhite;
}
.logo{
    margin-left: 5vw;
    height: 7vh;
    margin-top: 1vh;
    
}
.btn{
    margin-top: 2vh;
    height: 5vh;
    width: 10vw;
    margin: 2vh;
    font-weight: bold;
    font-size: 2.2vh;
   background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 1vh;

    
}
.btn1{
    margin-top: 2vh;
    height: 5vh;
    width: 7vw;
    margin-left: 16vw;
    font-weight: bold;
    font-size: 2.2vh;
    background: transparent;
    border: none;
    background:transparent;
    cursor: pointer;
    border-radius: 1vh;
}
.btn2{
  margin-top: 2vh;
  height: 5vh;
  width: 7vw;
  font-weight: bold;
  font-size: 2.2vh;
  background: transparent;
  border: none;
  margin: 2vh;
  background-color: #7CFC00;
  cursor: pointer;
  border-radius: 1vh;
}
.btn:hover{
  background-color: rgba(50, 205, 50, 0.6) ;
}
.btn1:hover{
  background-color: rgba(50, 205, 50, 0.6) ;
}
.btn2:hover{
  background-color: rgba(50, 205, 50, 0.6) ;
}
