*{
  margin: 0px;
  padding: 0px;
}
#parent{
  padding: 0px;
  margin: 0px;
  background-color: white;
}
#bar{
  height: 9vh;
  width: 100vw;
  display: flex;
  background: linear-gradient(to right, #48a0f7, #f0f0f0);
}
.logo{
  margin-left: 3vw;
  height: 7vh;
  margin-top: 1vh;
    
}
.btn{
  margin-top: 2vh;
  height: 5vh;
  width: 9vw;
  font-weight: bold;
  font-size: 2.2vh;
  color:  black;
 background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 1vh;

    
}
.btn1{
  
    margin-top: 2vh;
    height: 5vh;
    width: 7vw;
    margin-left: 5vw;
    font-weight: bold;
    font-size: 2.2vh;
    color: black;
    background: transparent;
    border: none;
    background:transparent;
    cursor: pointer;
    border-radius: 1vh;

}
.btn2{
  margin: 2vh;
  margin-left: 5vh;
  height: 5vh;
  width: 8vw;
  font-weight: bold;
  font-size: 2.2vh;
  background: transparent;
  border-color: white;
  background: linear-gradient(to right, #f0f0f0, #48a0f7);
  cursor: pointer;
  color: black;
  box-shadow: 1vh;
}
.btn:hover{
  background-color: #699aca  ;
}
.btn1:hover{
  background-color: #699aca  ;
}
.btn2:hover{
  background-color:  #07529d ;

}
.home-link {
  text-decoration: none; /* Removes underline */
  color: inherit;
  font-weight: normal; /* Ensures the color matches the parent */
}

.home-link:hover {
  color: #017c6e; /* Optional: Adds hover effect */
}
.upperdiv{
  display: flex;
}
/* for background image */
.imgv{

    width: 40vw;
    height:70vh;
    margin: 2vh;
    margin-left: 10vh;
}
/* for  volunteer button*/
.btnv{
  width: 11vw;
  height: 7vh;
  background-color :#017c6e;
  text-align: center;
  color: white;
  font-size: 3vh;
  font-weight: bold;
  cursor: pointer;
  margin: 2vh;
  margin-top: 9vh;
  margin-left: 30vh;
  display: flex;
  border-radius: 1.5vh;
  align-items: center;
  justify-content: center;
}
/* title*/
.title{
  width: 30vw;
  height: 7vh;
  margin: 5vh;
  margin-left: 40vw;
  background-color:#017c6e;
  color:white;
  border-radius: 1.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
/* for the bottom div*/
.container2{
  width: 65vw;
  height: 50vh;
  background-color:#dcd8d0;
  border-radius: 2vh;
  margin:2vh;
  margin-left: 40vh;
  display: grid;
}
/* whole div with 4 imagfe and text*/
.uppercontent{
  display: flex;
}

.div2{
  width: 13vw;
  height: 45vh;
  margin: 3vh;
  border-radius: 1vh;
  background-color: white;
}
/* for text and button*/
.leftdiv{
  width: 48vw;
  height: 70vh;
  margin-left: 5vh;
  margin-top: 5vh;
  background-color: white;
  border-radius: 2vh;
  display:flex;
 

}
.upbottom{
  display: grid;
  grid-template-rows: 1fr 1fr; 
  gap: 0vh;
  
  
}
/* for logo pic of volunteer profile*/
.img2{
   margin:2vh;
   margin-left: 6vh;
   height: 15vh;
   width: 7vw;
   border-radius: 1vh;
}
/*image of upperdiv two up down image*/
.imgv{
  height: 30vh;
  width: 15vw; 
  padding: 0vh;
  margin: 1vh;
}
/*image of upperdiv two left right image*/
.imglr{
  height: 30vh;
  width: 15vw; 
  padding: 0vh;
  display: block;
  margin: 1vh;
  margin-top: 20vh;
  margin-left: 1vh;
}
/* for the name of volunteer */
.txt{
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
  color: #017c6e;
}
/* for the name of foundation*/
.txt1{
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
}
/* right div of upperdiv*/
.rightdiv{
  width: 45vw;
  height: 60vh;
  margin-left: 5vh;
  margin-top: 15vh;
}
/* text of right div(upperdiv)*/
.description{
  font-size: 2.5vh;
}
/* button of bottom div volunteer profile*/
.btnu{
  width: 7vw ;
  height: 5vh ;
  margin-left: 7vh;
  background-color: #d1d1cf;
  border-radius: 1vh;
  border: none;
  font-size: 2vh ;
  font-weight: bold;
  position: center;
  margin-top: 3vh;
  cursor: pointer;
  
}
.btnu:hover{
  background-color:#017c6e;
}

 /* for the footerr*/
 .footer{
  height: 30vh;
  width: 100vw;
  background: linear-gradient(to right, #48a0f7, #f0f0f0);
  display: flex;
}
.logo2{
  margin-left: 3vw;
  height: 9vh;
  margin-top: 1vh;   
}
.small_text{
font-size: 2vh;
color: black;

}
.first-div{
margin-top: 2vh;
margin-left: 5vh;
}
.second_div{
margin-left: 19vh;
margin-top: 2vh;
}
.third_div{
margin-left: 19vh;
margin-top: 2vh;
}
.fourth_div{
margin-left: 22vh;
margin-top: 2vh;
}
.conimg{
display:flex;
}
.imgf{
width: 4vh;
height: 3vh;
margin: 1vh;
border-radius: 1vh;
}
