*{
    margin: 0px;
    padding: 0px;
}
#parent{
    padding: 0px;
    margin: 0px;
    background-color: rgb(212, 207, 207);
}
#bar{
    height: 9vh;
    width: 100vw;
    display: flex;
    background-color: antiquewhite;
}
.logo{
    margin-left: 5vw;
    height: 7vh;
    margin-top: 1vh;
    
}
.btn{
    margin-top: 2vh;
    height: 5vh;
    width: 10vw;
    margin: 2vh;
    font-weight: bold;
    font-size: 2.2vh;
   background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 1vh;

    
}
.btn1{
    margin-top: 2vh;
    height: 5vh;
    width: 7vw;
    margin-left: 16vw;
    font-weight: bold;
    font-size: 2.2vh;
    background: transparent;
    border: none;
    background:transparent;
    cursor: pointer;
    border-radius: 1vh;
}
.btn2{
  margin-top: 2vh;
  height: 5vh;
  width: 7vw;
  font-weight: bold;
  font-size: 2.2vh;
  background: transparent;
  border: none;
  margin: 2vh;
  background-color: #7CFC00;
  cursor: pointer;
  border-radius: 1vh;
}
.btn:hover{
  background-color: rgba(50, 205, 50, 0.6) ;
}
.btn1:hover{
  background-color: rgba(50, 205, 50, 0.6) ;
}
.btn2:hover{
  background-color: rgba(50, 205, 50, 0.6) ;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("2n.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: none ;
  }
  
  .wrapper {
    width: 25vw;
    height: 90vh;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
    color: white;
    border-radius: 10px;
    padding: 70px;
    font-size: 2vh;
    text-align: center;
  }
  
  .wrapper h1{
    font-size: 40;
    text-align: center;
  
  }
  
  .wrapper .input-box{
    width: 100%;
    margin: 35px 0;
    font-size: 2vh;
    font-weight: bold;
  }
  .wrapper .regbtn{
    align-items: center;
    width: 15vw;
    height: 6vh;
    background-color:rgb(19, 231, 19);
    border: none;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 20px;
    color: 330;
    font-weight: 700;
    text-decoration: none;
  }
  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: white;
    outline: none;
    font-size: 2vh;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 45px;
    padding: 20px 20px 20px 10px;
  }
  
  .input-box input::placeholder{
    color: white;
    font-weight: bold;
  
  }
  
  .footer{
    height: 30vh;
    width: 100vw;
    background: linear-gradient(to right, #48a0f7, #f0f0f0);
    display: flex;
  }
  .logo2{
    margin-left: 3vw;
    height: 9vh;
    margin-top: 1vh;   
  }
  .small_text{
  font-size: 2vh;
  color: black;
  
  }
  .first-div{
  margin-top: 2vh;
  margin-left: 5vh;
  }
  .second_div{
  margin-left: 19vh;
  margin-top: 2vh;
  }
  .third_div{
  margin-left: 19vh;
  margin-top: 2vh;
  }
  .fourth_div{
  margin-left: 22vh;
  margin-top: 2vh;
  }
  .conimg{
  display:flex;
  }
  .imgf{
  width: 4vh;
  height: 3vh;
  margin: 1vh;
  border-radius: 1vh;
  }
  
  
 
  
  

